************************************************************
*            Authorized access only.                       *
*            All activities are monitored.                 *
************************************************************